In [43]:
db_uname='power_user'
db_pswd='deepodds_usf'
db_host='ec2-50-112-29-56.us-west-2.compute.amazonaws.com'
db_name='deepodds'

In [44]:
import pandas as pd

In [45]:
from sqlalchemy import create_engine

In [46]:
def create_connection_postgre():
    """
    Function to create SQL connection object
    :return: SQL Connection object
    """
    engine = create_engine('postgresql://{}:{}@{}/{}'.format(
        db_uname, db_pswd, db_host, db_name))
    conn = engine.connect()
    return conn

In [47]:
read_matches = """
select * from base_matches
where season = '2015/2016'
"""

In [48]:
read_teams = '''
select * from base_teams;
'''

In [107]:
read_match_outcome = '''
select match_api_id, home_team_goal, away_team_goal  
from 
base_matches;
'''

In [108]:
conn = create_connection_postgre()

In [109]:
teams = pd.read_sql(read_teams,conn)

In [110]:
bets = pd.read_sql(read_bets,conn)

In [111]:
outcomes = pd.read_sql(read_match_outcome,conn)

In [112]:
active_bets = bets[bets.is_active].sort_values(by = ['attr_1', 'predicted_odds'], ascending=[True, True])

In [113]:
active_bets.head(2)

,pred_id,match_id,home_team_id,away_team_id,prediction,prediction_type,predicted_odds,bookmaker,bookmaker_odds,is_active,attr_1,attr_2,attr_3,attr_4,attr_5,created_time,update_time
5082,10000,2030271,9910,9906,away,result,1.902890,betway,1.91,True,Week 1,0.5255163301670845,0.007109561405910014,None,None,2018-05-03 19:05:27.863707,2018-05-03 19:05:27.863707
6273,11190,2030269,8302,8315,home,result,1.991429,bet365,2.10,True,Week 1,0.5021519463775299,0.10857089728738001,None,None,2018-05-03 19:07:03.536258,2018-05-03 19:07:03.536258

In [114]:
active_bets.columns

Index(['pred_id', 'match_id', 'home_team_id', 'away_team_id', 'prediction',
       'prediction_type', 'predicted_odds', 'bookmaker', 'bookmaker_odds',
       'is_active', 'attr_1', 'attr_2', 'attr_3', 'attr_4', 'attr_5',
       'created_time', 'update_time'],
      dtype='object')

In [128]:
usecols = ['match_id',
     'home_team_id', 'away_team_id', 'prediction', 
    'predicted_odds', 'bookmaker', 'bookmaker_odds',
    'attr_1'
]

In [129]:
teamid2name = dict(zip(teams.team_api_id, teams.team_long_name))

In [130]:
summary = active_bets[usecols]

In [131]:
summary.home_team_id = summary.home_team_id.map(teamid2name)
summary.away_team_id = summary.away_team_id.map(teamid2name)

/home/kerem/anaconda3/envs/fastai/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [132]:
summary.reset_index(inplace=True, drop=True)

In [133]:
summary.leverage = summary.bookmaker_odds / summary.predicted_odds

/home/kerem/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [134]:
summary['confidence'] = 1/summary.predicted_odds

/home/kerem/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Many Ways of Looking At this

**Environment Variables:**

- Bookmaker Odds
- Predicted Confidence on Outcome
- Multiple Games (Playing Multiple Games in same website to compound odds)
- Multiple Companies (Playing Different Website)

**Reward:**

- Profit/Loss for each action (bet)

**On Going Research:** Reinforcement Learning for training an agent to create bets.

In [144]:
outcome_list = []
for h, a in list(zip(outcomes.home_team_goal,outcomes.away_team_goal)):
    if h < a:
        outcome_list.append('away')
    elif h == a:
        outcome_list.append('draw')
    else:
        outcome_list.append('home')

In [146]:
outcomes['outcomes'] = outcome_list

In [148]:
outcomes.head()

   match_api_id  home_team_goal  away_team_goal outcomes
0       1786012               0               3     away
1       1786013               1               1     draw
2       1786014               1               1     draw
3       1786015               0               1     away
4        523804               1               0     home